@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 1px;
  }  
  
  ::-webkit-scrollbar-track {
    background: #404040;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #aadab4;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #7e9984;
  }

  .active{
    color: #62F983;
  }

  .active2{
    color: white;
    border-left: 1px solid #62F983; 
  }