@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 1px;
  }  
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #404040;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aadab4;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7e9984;
  }

  .active{
    color: #62F983;
  }

  .active2{
    color: white
  }